doctype html
html
	head
		meta(charset='utf-8')
		title home
	body
		table
			th Name
			th elo
			th join
		script(src='/socket.io/socket.io.js' type='text/javascript')
		script(type='text/javascript').
			let games = !{JSON.stringify(games)}
			for (let game of games) {
				if (!game.opponent) {
					let table =  document.querySelector('table')
					let tr = document.createElement('tr')

					let creator = document.createElement('td')
					let elo = document.createElement('td')

					creator.innerHTML = `${game.creator}`
					elo.innerHTML = `${game.creatorElo}`

					let link = document.createElement('td')
					let a = document.createElement('a')
					a.innerHTML = '->'
					a.href = `../game/${game.creator}`
					link.appendChild(a)

					tr.appendChild(creator)
					tr.appendChild(elo)
					tr.appendChild(link)
					table.appendChild(tr)
				}
			}

			let socket = io()
			socket.on('createdLobby', (creator) => {
				let p = document.createElement('p')
				p.innerHTML = `${creator} venter på en spiller, `
				let a = document.createElement('a')
				a.href = `../game/${creator}`
				a.innerHTML = 'klikk for å bli med'
				p.appendChild(a)
				document.body.appendChild(p)
			})

			socket.on('endedLobby', (creator) => {
				let paragraphs = document.querySelectorAll('p')
				for (let p of paragraphs) {
					if (p.innerHTML.split(' ')[0] === creator) {
						document.body.removeChild(p)
						return
					}
				}
			})
