doctype html
html
	head
		meta(charset='utf-8')
		title lobby
	body
		form(action='/lobby/create', method='post')
			div
				input(type='submit', value='create lobby')
		form(action='/lobby/delete', method='post')
			div
				input(type='submit', value='delete lobby')
		script(src='/socket.io/socket.io.js' type='text/javascript')
		script(type='text/javascript').
			const user = !{JSON.stringify(user)}
			init()
			let socket = io()
			socket.on('createdLobby', (creator) => {
				let p = document.createElement('p')
				p.innerHTML = `${creator} venter p책 en spiller, `
				let a = document.createElement('a')
				a.href = `../game/${creator}`
				a.innerHTML = 'klikk for 책 bli med'
				p.appendChild(a)
				document.body.appendChild(p)
			})
			
			socket.on('endedLobby', (creator) => {
				let paragraphs = document.querySelectorAll('p')
				for (let p of paragraphs) {
					if (p.innerHTML.split(' ')[0] === creator) {
						document.body.removeChild(p)
						return
					}
				}
			})
			
			socket.on('gameStarted', (creator) => {
				if (creator === user) {
					window.location.replace(`/game/${user}`)
				} else {
					let paragraphs = document.querySelectorAll('p')
					for (let p of paragraphs) {
						if (p.innerHTML.split(' ')[0] === creator) {
							document.body.removeChild(p)
							return
						}
					}
				}
			})
			
			function init() {
				let games = !{JSON.stringify(games)}
				for (let game of games) {
					let p = document.createElement('p')
					p.innerHTML = `${game.creator} venter p책 en spiller, `
					let a = document.createElement('a')
					a.href = `../game/${game.creator}`
					a.innerHTML = 'klikk for 책 bli med'
					p.appendChild(a)
					document.body.appendChild(p)
				}
			}
